body {
	background: linear-gradient(#e4c0ed 0%, #c8e8e8 40%, #b2cadb 100%);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	color: #797c89;
	padding: auto;
}
.frame {
	margin: auto;
	border: 5px solid #ffffffb8;
	max-width: 75vh;
	height: 75vh;
	text-align: center;
}
.bio {
	margin: auto;
}
.socials {
	margin: auto;
}
.todo {
	margin: auto;
}
